DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_MAPS_API_KEY=
GOOGLE_CLIENT_ID=
OTP_WEBHOOK_URL=
OTP_SENDER_NAME=AkaraConnect
NODE_ENV=development
PORT=4000
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=
AKARACONNECT_API_URL=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
